<dl>
    <dt><strong>Neue Tutorials</strong></dt>
    <dd>
        <ul>
            <li>HTML ,Einstieg .Dauer: 2 Std 30 Min .Datum: <time datetime="2021-10-15">15-10-2021</time></li>
            <li>JAVA ,Grundkurs .Dauer: 2 Std 45 Min .Datum: <time datetime="2021-09-15">15-09-2021</time></li>
        </ul>
    </dd>
</dl>