<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fehlerseite</title>
</head>
<body>
    <p style="text-align: center;font: 100px sans-serif;">Die angefordete Seite wurde nicht gefunden</p>
    <p style="text-align: center;font: 100px sans-serif;">404 Not Found</p>
</body>
</html>